$escaped-font-primary: str-replace($font-primary, ' ', '+');
$escaped-font-alternative: str-replace($font-alternative, ' ', '+');

@import url('https://fonts.googleapis.com/css?family=#{ $escaped-font-primary }:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=#{ $escaped-font-alternative }:300,400,500,700');

.font-primary {
  font-family: $font-primary;
}

.font-alternative {
  font-family: $font-alternative;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
    line-height: 1;

    .svg-inline--fa {
      @extend .ml-1;
    }
  }
}

p {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-bottom: 1px solid $border-color;
  margin: 1rem 0;

  &.vertical {
    height: 100%;
    border-bottom: none;
    border-left: 1px solid $border-color;
    margin: 0 1rem;
  }
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.8em !important;
}

.smaller {
  font-size: 0.6em !important;
}

.text-nowrap {
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.underline {
  text-decoration: underline;
}

$font-styles: (('light', 100), ('normal', 300), ('bold', 600));

@each $f in $font-styles {
  .font-#{nth($f,1)} {
    font-weight: nth($f, 2);
  }
}
