@import 'utils/str-replace';
@import 'base/variables';
@import 'base/layout';

@import 'flex/flex';

@import 'components/transitions';
@import 'components/typo';
@import 'components/backgrounds';

body {
  font-family: $font-primary, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $font-size;

  color: white;

  margin: 0;

  overflow: hidden;
}

#app {
  min-height: 100vh;
  padding: 4rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
