<template>
  <div class="bidding col between">
    <div class="row between bottom">
      <div class="bidding__title">{{ $root.title }}</div>
      <total-component/>
    </div>
    <bids-component/>
    <countdown-component/>
    <happyhour-component/>
  </div>
</template>

<script>
import BidsComponent from "@/components/bids";
import TotalComponent from "@/components/total";
import CountdownComponent from "@/components/countdown";
import HappyhourComponent from "@/components/happyhour";

export default {
  components: {
    BidsComponent,
    TotalComponent,
    CountdownComponent,
    HappyhourComponent
  }
};
</script>

<style lang="scss">
.bidding {
  &__title {
    font-size: 6rem;
    font-family: $font-alternative;
  }
}
</style>
