.basis-0 {
  flex-basis: 0;
}

.flex-1 {
  flex: 1;
}

@for $i from 1 through $grids {
  .#{$namespace}grow-#{$i} {
    flex-grow: $i;
  }
}

@for $i from 0 through $grids {
  .#{$namespace}shrink-#{$i} {
    flex-shrink: $i;
  }
}

@for $i from 0 through 4 {
  .#{$namespace}basis-#{$i * 25} {
    flex-basis: $i * 25%;
  }
}
