<template>
  <div class="bids col middle mt-8">
    <!-- <transition-group name="bid" tag="div" style="width:100%;" class="col middle"> -->
    <div class="bids__bid" v-for="bid in bids" :key="bid.id">
      {{ bid.name }}
      <div v-if="bid.happyhour" class="bids__bid-happyhour">
        <img src="happyhour.svg">
      </div>
    </div>
    <!-- </transition-group> -->
  </div>
</template>

<script>
import Bus from "@/bus";
export default {
  data() {
    return {
      bids: []
    };
  },
  methods: {
    add(bid) {
      if (this.bids.length >= this.$root.visibleBids) this.bids.pop();
      this.bids.unshift(bid);
    }
  },
  mounted() {
    Bus.$on("bid:add", bid => this.add(bid));
  }
};
</script>

<style lang="scss">
.bids {
  font-size: 3.5em;
  line-height: 1;
  text-align: center;
  margin-bottom: auto;

  &__bid {
    width: 100%;
    max-width: 50vw;
    padding: 1rem;

    &:first-child {
      background-color: rgba(black, 0.15);
      margin-bottom: 1rem;
      border-radius: $border-radius;
      padding: 2rem 2rem;
    }

    &-happyhour {
      display: inline-block;
      margin-left: 0.1em;

      img {
        height: 0.6em;
      }
    }
  }
}

// .bid-leave-active {
//   transition: all 0.5s;
// }

// .bid-leave-to {
//   opacity: 0;
//   transform: translateY(100%);
// }
</style>
