<template>
  <div class="countdown-container">
    <div class="countdown" v-if="total">
      <div class="countdown__bar" :style="{ width: progress_width, backgroundColor: color }"></div>
    </div>
  </div>
</template>

<script>
import Bus from '@/bus'
export default {
  data() {
    return {
      total: 0,
      current: 0,
    }
  },
  computed: {
    progress() {
      return this.current / this.total
    },
    progress_width() {
      return Math.round(this.progress * 100) + '%'
    },
    color() {
      let g = this.progress * 255
      let r = (1 - this.progress) * 255

      return 'rgb(' + Math.round(r) + ', ' + Math.round(g) + ', 0)'
    },
  },
  mounted() {
    Bus.$on('countdown', ({ current, total }) => {
      this.total = total
      this.current = current
    })
  },
}
</script>


<style lang="scss">
.countdown {
  border: 2px solid rgba(black, 0.2);
  background-color: rgba(black, 0.2);
  height: 60px;
  width: 100%;
  border-radius: $border-radius;
  position: relative;

  &-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    padding: 4rem;
  }

  &__bar {
    position: absolute;
    height: 100%;
    border-radius: inherit;
    background-color: red;
  }
}
</style>
