<template>
  <div v-if="enabled" class="debug col g-1">
    <button-component
      primary
      :label="(lobby_enabled ? 'Start' : 'Stop') + ' auksjon'"
      @click="ToggleAuction"
    />
    <button-component primary label="Bud" @click="AddBid"/>
    <button-component
      primary
      :label="(winner_enabled ? 'Skjul' : 'Vis') + ' vinner'"
      @click="ToggleWinner"
    />
    <button-component
      primary
      :label="(!countdown_enabled ? 'Start' : 'Stop') + ' nedtelling'"
      @click="ToggleCountdown"
    />
    <button-component
      primary
      :label="(!happyhour_enabled ? 'Start' : 'Stop') + ' happyhour'"
      @click="ToggleHappyhour"
    />
  </div>
</template>

<script>
import { ButtonComponent } from "vue-elder-button";
import Bus from "@/bus";
import faker from "faker";

let bidCounter = 0;

function GenerateBid() {
  bidCounter++;
  return {
    name: faker.fake("{{name.firstName}} {{name.lastName}}"),
    value: 1000,
    happyhour: Math.random() > 0.8,
    total: bidCounter * 1000
  };
}

export default {
  data() {
    return {
      enabled: false,
      bot_enabled: false,
      lobby_enabled: true,
      winner_enabled: false,
      countdown_enabled: false,
      happyhour_enabled: false
    };
  },
  methods: {
    ToggleAuction() {
      window.startAuction(!this.lobby_enabled);
      this.lobby_enabled = !this.lobby_enabled;
    },
    AddBid() {
      let bid = GenerateBid();
      window.addBid(bid.name, bid.value, bid.happyhour, bid.total);
    },
    ToggleCountdown() {
      if (!this.countdown_enabled) {
        let start = new Date().getTime();
        let total = 3000;
        this.countdown_enabled = setInterval(() => {
          let time = new Date().getTime() - start;
          Bus.$emit("countdown", { current: total - time, total });

          if (time >= total) stop();
        }, 1000 / 60);
      } else stop();

      let stop = () => {
        clearInterval(this.countdown_enabled);
        this.countdown_enabled = null;
        Bus.$emit("countdown", { current: 0, total: 0 });
      };
    },
    ToggleHappyhour() {
      if (!this.happyhour_enabled) {
        Bus.$emit("happyhour:start");
        this.happyhour_enabled = true;
      } else {
        Bus.$emit("happyhour:stop");
        this.happyhour_enabled = false;
      }
    },
    ToggleWinner() {
      if (!this.winner_enabled) {
        Bus.$emit(
          "winner:show",
          faker.fake("{{name.firstName}} {{name.lastName}}")
        );
        Bus.$emit("auction:done");
      } else {
        Bus.$emit("winner:hide");
        Bus.$emit("auction:done", false);
      }

      this.winner_enabled = !this.winner_enabled;
    }
  },
  components: {
    ButtonComponent
  },
  mounted() {
    let urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("debug")) this.enabled = true;
  }
};
</script>

<style lang="scss">
.debug {
  position: fixed;
  z-index: 10;
  bottom: 10rem;
  left: 2rem;

  background-color: rgba(black, 0.3);
  border-radius: $border-radius;

  padding: 1rem;

  font-size: 0.75em;
}
</style>
