<template>
  <div v-if="isActive" class="happyhour">Happyhour</div>
</template>

<script>
import Bus from "@/bus";

export default {
  data() {
    return {
      isActive: false
    };
  },
  mounted() {
    Bus.$on("happyhour:start", () => (this.isActive = true));
    Bus.$on("happyhour:stop", () => (this.isActive = false));
  }
};
</script>

<style lang="scss">
.happyhour {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 2rem;
  background: gold;
  padding: 0.5em 1em;
  border-radius: 3px;
  color: white;
  text-shadow: 0 0px 30px darkgoldenrod;
  font-weight: bold;
}
</style>
