<template>
  <transition name="slide-out">
    <div v-if="visible" class="overlay col center middle" :class="$root.pattern" :style="{ backgroundColor: $root.theme }">
      <h1 class="overlay__title mb-6">
        <input type="text" v-model="$root.title">
      </h1>
      <div class="overlay__message row center middle mb-6">
        <div class="overlay__loader mr-4" :style="{ borderColor: $root.textColor }"></div>
        <div>Auksjonen har ennå ikke begynt</div>
      </div>
    </div>
  </transition>
</template>

<script>
import Bus from '../bus'
export default {
  data() {
    return {
      visible: true,
    }
  },
  mounted() {
    Bus.$on('lobby:toggle', state => {
      this.visible = state
    })
  },
}
</script>

<style lang="scss">
.overlay {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  &__loader {
    $size: 30px;

    width: $size;
    height: $size;

    flex-shrink: 0;

    border: 2px solid rgba(white, 0.5);
    border-left-color: transparent !important;
    border-radius: 50%;

    animation: spin 500ms infinite linear;

    @keyframes spin {
      to {
        transform: rotate(1turn);
      }
    }
  }

  &__title {
    font-size: 15rem;
    font-family: $font-alternative;

    input {
      background: transparent;
      font: inherit;
      color: inherit;
      border: none;
      outline: none;
      text-align: center;
    }
  }

  &__message {
    font-size: 2rem;
    padding: 2rem 3rem 2rem 2rem;
    background-color: rgba(white, 0.2);
    border-radius: $border-radius;
  }
}
</style>
