<template>
  <div class="total">
    kr {{ total | number }} 
  </div>
</template>

<script>
import Bus from '@/bus'
import { createMask } from 'imask'

const mask = createMask({ mask: Number, thousandsSeparator: ' ' })

export default {
  data() {
    return {
      total: 0,
    }
  },
  filters: {
    number(val) {
      return mask.resolve(val.toString())
    },
  },
  mounted() {
    Bus.$on('total:update', val => (this.total = val))
  },
}
</script>

<style lang="scss">
.total {
  font-size: 4rem;
}
</style>
