<template>
  <!-- <transition name="slide-out"> -->
    <div v-if="winner" class="winner row center middle">
      <div class="winner__modal col middle">
        <img src="@/assets/winner.svg" alt="" height="150">
        <div class="winner__name mt-4">{{ winner }}</div>
      </div>
    </div>
  <!-- </transition> -->
</template>

<script>
import Bus from '@/bus'
export default {
  data() {
    return {
      winner: null,
    }
  },
  mounted() {
    Bus.$on('winner:show', val => (this.winner = val))
    Bus.$on('winner:hide', () => (this.winner = null))
  },
}
</script>

<style lang="scss">
.winner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__name {
    font-size: 4rem;
  }

  &__modal {
    padding: 2rem 6rem;
    border-radius: $border-radius;
    background-color: white;
    color: #333;
    box-shadow: 0 10px 20px -10px rgba(black, 0.3);
  }
}
</style>
