<template>
  <transition name="slide-left">
    <div v-if="visible" class="wizard col g-1">
      <input-component type="color" v-model="$root.theme" label="Temafarge"></input-component>
      <input-component v-model.number="$root.visibleBids" label="Synlige bud" type="number" :min="3" :max="10"/>
      <input-component label="Thema">
        <select v-model="$root.pattern">
          <option v-for="item in $root.patterns" :key="item" :value="item">{{ item }}</option>
        </select>
      </input-component>
    </div>
  </transition>
</template>

<script>
import { InputComponent } from 'vue-elder-input'
export default {
  data() {
    return {
      visible: false,
    }
  },
  mounted() {
    window.addEventListener('keypress', event => {
      if (event.keyCode === 13) {
        this.visible = !this.visible
      }
    })
  },
  components: {
    InputComponent,
  },
}
</script>

<style lang="scss">
.wizard {
  position: fixed;
  z-index: 10;
  bottom: 15rem;
  right: 0;

  background-color: rgba(black, 0.3);
  color: white;
  border-radius: $border-radius 0 0 $border-radius;

  padding: 1rem;

  font-size: 0.75em;

  input[type='color'] {
    -webkit-appearance: square-button;
    padding: 0;
  }
}
</style>
