<template>
  <div
    id="app"
    :class="classes"
    class="col"
    :style="{ backgroundColor: $root.theme, color: $root.textColor }"
  >
    <lobby-component/>
    <bidding-component class="grow-1"/>
    <debug-component/>
    <wizard-component/>
    <winner-component/>
    <div v-if="debug_output" class="debug-output">{{debug_output}}</div>
  </div>
</template>

<script>
import LobbyComponent from "@/components/lobby";
import DebugComponent from "@/components/debug";
import WizardComponent from "@/components/wizard";
import WinnerComponent from "@/components/winner";
import BiddingComponent from "@/views/bidding";
import Bus from "./bus";

export default {
  name: "app",
  data() {
    return {
      debug_output: null
    };
  },
  computed: {
    classes() {
      return [
        this.$root.pattern,
        {
          confetti: this.$root.confetti
        }
      ];
    }
  },
  mounted() {
    Bus.$on("debug:output", val => (this.debug_output = val));
  },
  components: {
    LobbyComponent,
    BiddingComponent,
    DebugComponent,
    WinnerComponent,
    WizardComponent
  }
};
</script>

<style lang="scss">
.debug-output {
  padding: 0.5em 1em;
  background: rgba(black, 0.5);
  color: white;
  font-family: monospace;
  position: absolute;
  bottom: 3rem;
  border-radius: 3px;
  left: 3rem;
}
</style>
