$directions: (('top', 't'), ('left', 'l'), ('bottom', 'b'), ('right', 'r'));

$space: 0.5rem;
$count: 16;

@for $i from 0 through $count {
  .m-#{$i} {
    margin: $i * $space;
  }

  .mx-#{$i} {
    margin-left: $i * $space;
    margin-right: $i * $space;
  }

  .my-#{$i} {
    margin-top: $i * $space;
    margin-bottom: $i * $space;
  }

  .p-#{$i} {
    padding: $i * $space;
  }

  .px-#{$i} {
    padding-left: $i * $space;
    padding-right: $i * $space;
  }

  .py-#{$i} {
    padding-top: $i * $space;
    padding-bottom: $i * $space;
  }

  .g-#{$i} {
    margin: $i * -$space;

    & > * {
      margin: $i * $space;
    }
  }

  .gp-#{$i} {
    margin: $i * -$space;

    & > * {
      padding: $i * $space;
    }
  }

  @each $d in $directions {
    .m#{nth($d,2)}-#{$i} {
      margin-#{nth($d,1)}: $space * $i;
    }

    .p#{nth($d,2)}-#{$i} {
      padding-#{nth($d,1)}: $space * $i;
    }

    .b#{nth($d,2)} {
      border-#{nth($d,1)}: 1px solid $border-color;
    }

    .b#{nth($d,2)}-dashed {
      border-#{nth($d,1)}: 1px dashed $border-color;
    }
  }
}

.shadow {
  box-shadow: 0 7px 15px -5px rgba(black, 0.1);
}

.border {
  border: 1px solid $border-color;
}

.no-border {
  border: none !important;
}

.dashed {
  border: 1px dashed $border-color;
}

.p-0 {
  padding: 0 !important;
}

.b-0 {
  border: none !important;
}

.m-0 {
  margin: 0 !important;
}

.rounded {
  border-radius: $border-radius;
}

.fade {
  opacity: 0.6;
}

.pointer {
  cursor: pointer !important;
}

.underline {
  text-decoration: underline;
}

[contenteditable] {
  outline: none;
  min-width: 1rem;
}
